* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 64.2%;
  overflow-x: hidden;
  background: linear-gradient(to top right, #060241, #02023b);
}
ul {
  list-style-type: none;
}
button {
  background: none;
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: 'Poppins';
  font-size: 1.8rem;
  max-width: 100rem;
  margin: 4rem auto;
  color: antiquewhite;
  background-repeat: no-repeat;
}

.notification-bar {
  background-color: #0a1111;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 1rem 0;
  transition: all 0.5s;
}

.notification-bar.add {
  background-color: greenyellow;
  color: #182929;
}

.notification-bar.delete {
  background-color: orangered;
}

h1 {
  text-align: center;
  font-family: 'Yellowtail';
  margin-top: 7rem;
}

.todo {
  max-width: 80rem;
  height: 100%;
  margin: 6rem auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

input[type='search'] {
  padding: 0.5rem;
  font-family: inherit;
  margin-bottom: 3rem;
  color-scheme: light;
}

#todo-list {
  height: 40rem;
  overflow-y: auto;
  margin-top: 3rem;
  border-bottom: 2px solid #faebd7;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #faebd7;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

#task {
  cursor: pointer;
}

.special-button {
  font-family: inherit;
  width: fit-content;
  padding: 1.5rem;
  align-self: center;
  border: 1px solid white;
  transition: all 0.5s;
  border-radius: 4px;
}

.checkbox {
  margin-right: 1rem;
}

.action-button {
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
  margin-right: 1rem;
}

#action-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 100%;
}

.action-button.visible {
  opacity: 1;
  pointer-events: all;
}

.action-button:first-of-type {
  margin-right: 1rem;
}

#input-todo button[type='submit'] {
  margin-top: 2.5rem;
  padding: 1rem;
  color: antiquewhite;
  font-family: inherit;
}

.action-button:hover,
#input-todo button:hover,
.special-button:hover {
  background: #fffaf0;
  color: #182929;
  cursor: pointer;
}

input:disabled {
  cursor: not-allowed;
}

.special-button:disabled {
  cursor: none;
  background: rgba(238, 255, 238, 0.37);
  color: #100;
}

#action-button__group {
  display: flex;
  justify-content: space-between;
}

#input-todo {
  margin: 4rem 0;
  width: max-content;
  align-self: center;
  color-scheme: light;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: all 0.5s;
}

#input-todo input {
  padding: 0.5rem;
  width: 100vw;
  font-family: inherit;
}

#input-todo.active {
  opacity: 1;
  pointer-events: all;
}

input[type='checkbox'] {
  cursor: pointer;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 3rem;
}
