@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Raleway:wght@100;300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.2%;
  overflow-x: hidden;

  background: -webkit-linear-gradient(to right, #414345, #232526);

  background: linear-gradient(to right, #414345, #232526);
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', 'Nunito Sans Normal', sans-serif;
  font-size: 1.8rem;
  max-width: 100rem;
  color: rgb(243, 240, 236);
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.notification-bar {
  background-color: #10d7d7;
  color: #111;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 1rem 0;
  transition: all 0.5s;
  font-size: 1.5rem;
}

.notification-bar.add {
  background-color: greenyellow;
  color: #182929;
}

.notification-bar.delete {
  background-color: orangered;
}

h1 {
  text-align: center;
  font-family: 'Marck Script', 'Yellowtail', fantasy;
  font-weight: 500;
  font-size: 3rem;
  margin: 5rem 0;
}

.todo {
  width: 100vw;
  height: 100%;
  padding: 1.5rem;
}

input[type='search'] {
  padding: 0.5rem;
  font-family: inherit;
  margin-bottom: 3rem;
  color-scheme: dark;
  width: 85vw;
}

#todo-list {
  height: 30rem;
  overflow-y: auto;
  margin-top: 3rem;
  /* border-bottom: 2px solid #faebd7; */
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #008080;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.task label {
  line-height: 2;
}

#task {
  cursor: pointer;
}

.special-button {
  align-self: center;
  transition: all 0.5s;
  background: teal;
  color: rgb(11, 11, 11);
  padding: 1.2rem;
  font-size: 1.5rem;
}

.special-button:focus {
  background: teal;
}

.button.special-button {
  border: none;
}

.checkbox {
  margin-right: 1rem;
}

.action-button {
  cursor: pointer;
  margin-right: 1rem;
}

#action-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* .action-button:first-of-type {
  margin-right: 1rem;
} */

#input-todo button[type='submit'] {
  margin-top: 2.5rem;
  padding: 1rem;
  color: antiquewhite;
  font-family: inherit;
}

#input-todo button:hover,
.special-button:hover {
  background: #fffaf0;
  color: #182929;
  cursor: pointer;
}

input:disabled {
  cursor: not-allowed;
}

.special-button:disabled {
  cursor: none;
  background: rgba(238, 255, 238, 0.37);
  color: #100;
}

#action-button__group {
  display: flex;
  justify-content: space-between;
}

#input-todo {
  margin: 4rem 0;
  width: 100%;
  color-scheme: dark;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: all 0.5s;
}

#input-todo input {
  padding: 0.5rem;
  width: 100%;
  font-family: inherit;
}

#input-todo.active {
  opacity: 1;
  pointer-events: all;
}

input[type='checkbox'] {
  cursor: pointer;
}

.submit {
  border: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
