/* 1150px */
@media screen and (min-width: 71.875em) {
  h1 {
    font-size: 5rem;
    margin-top: 10rem;
  }

  .task {
    font-size: 2rem;
  }

  input[type='search'],
  #input-todo input {
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  .notification-bar {
    font-size: 2rem;
  }
}

@media screen and (min-width: 53.75em) {
  body {
    width: 100vw;
    font-size: 1.5rem;
  }

  h1 {
    margin-top: 8rem;
  }

  .todo {
    padding-top: 6rem;
    padding-left: 1.5rem;
    overflow-x: hidden;
  }

  .task {
    width: 95vw;
  }

  #action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    margin-top: 3rem;
    width: 100vw;
  }

  #action-buttons .special-button {
    justify-self: center;
  }

  #action-buttons .special-button:last-of-type {
    grid-column: 1 / span 2;
  }

  input[type='search'] {
    padding-left: 1rem;
  }

  #input-todo input {
    width: 80vw;
  }
}

/* 800px */
@media (min-width: 50em) {
  .task {
    padding: 2rem;
  }

  #action-buttons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #action-buttons .special-button:last-of-type {
    grid-column: initial;
  }
}

/* 400px */
@media (min-width: 25em) {
  body {
    font-size: 1.3rem;
  }

  .task {
    padding: 1.5rem;
  }

  .special-button {
    padding: 1.2rem;
  }

  #action-buttons {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    row-gap: 2rem;
  }
}

/* 360px */
@media (min-width: 22.5em) {
}
